name: MacRDP
on: 
  workflow_dispatch:
jobs:
  build:
    name: MacRDP
    runs-on: macos-latest
    
    steps:                 
    - name: Install and Connect Tailscale
      env:
        TAILSCALE_KEY: ${{ secrets.NGROK_AUTH_TOKEN }}
      run: |
        # Install Tailscale using Homebrew
        brew install tailscale
        
        # Start the Tailscale background service
        sudo tailscaled > /dev/null 2>&1 &
        sleep 5
        
        # Log in to Tailscale
        sudo tailscale up --authkey "$TAILSCALE_KEY" --hostname="GitHub-Mac"
          
    - name: MacOS System running...
      uses: mxschmitt/action-tmate@v3
      if: always()
