name: MacRDP
on: 
  workflow_dispatch:
jobs:
  build:
    name: MacRDP
    runs-on: macos-latest
    
    steps:                 
    - name: Install and Connect Tailscale
      env:
        TAILSCALE_KEY: ${{ secrets.NGROK_AUTH_TOKEN }}
      run: |
        brew install tailscale
        sudo /usr/local/sbin/tailscaled > /dev/null 2>&1 &
        sleep 10
        sudo tailscale up --authkey "$TAILSCALE_KEY" --hostname="GitHub-Mac" --accept-routes
        
    - name: Force Enable Screen Sharing & Firewall
      run: |
        # 1. Open the MacOS Firewall for VNC (Port 5900)
        sudo /usr/libexec/ApplicationFirewall/socketfilterproxy --add /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/MacOS/ARDAgent
        sudo /usr/libexec/ApplicationFirewall/socketfilterproxy --setglobalstate off

        # 2. Configure and Start Screen Sharing with password 'P@ssw0rd!'
        sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
        -activate -configure -access -on \
        -clientopts -setvncpassword -vncpassword "P@ssw0rd!" \
        -restart -agent -privs -all
        
        # 3. Verify if the port is actually listening
        netstat -an | grep 5900
          
    - name: MacOS System running...
      uses: mxschmitt/action-tmate@v3
      if: always()
