name: MacRDP
on: 
  workflow_dispatch:
jobs:
  build:
    name: MacRDP
    runs-on: macos-latest
    
    steps:                 
    - name: Install and Connect Tailscale
      env:
        TAILSCALE_KEY: ${{ secrets.NGROK_AUTH_TOKEN }}
      run: |
        # 1. Install Tailscale
        brew install tailscale
        
        # 2. Find the correct path for tailscaled and start it
        TAILSCALED_PATH=$(which tailscaled)
        sudo "$TAILSCALED_PATH" > /dev/null 2>&1 &
        
        # 3. Wait up to 30 seconds for the service to be ready
        echo "Waiting for Tailscale service to start..."
        for i in {1..30}; do
          if sudo tailscale status >/dev/null 2>&1 || [ $? -ne 1 ]; then
            echo "Tailscale service is up!"
            break
          fi
          sleep 1
        done

        # 4. Log in
        sudo tailscale up --authkey "$TAILSCALE_KEY" --hostname="GitHub-Mac" --accept-routes
        
    - name: Enable MacOS Screen Sharing
      run: |
        # Open firewall and start VNC
        sudo /usr/libexec/ApplicationFirewall/socketfilterproxy --setglobalstate off
        sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
        -activate -configure -access -on \
        -clientopts -setvncpassword -vncpassword "P@ssw0rd!" \
        -restart -agent -privs -all
          
    - name: MacOS System running...
      uses: mxschmitt/action-tmate@v3
      if: always()
