name: MacRDP
on: 
  workflow_dispatch:
jobs:
  build:
    name: MacRDP
    runs-on: macos-latest
    
    steps:                 
    - name: Install and Connect Tailscale
      env:
        TAILSCALE_KEY: ${{ secrets.NGROK_AUTH_TOKEN }}
      run: |
        # Install and Start Tailscale
        brew install tailscale
        sudo tailscaled > /dev/null 2>&1 &
        sleep 5
        sudo tailscale up --authkey "$TAILSCALE_KEY" --hostname="GitHub-Mac"
        
    - name: Enable MacOS Screen Sharing
      run: |
        # This command turns on the VNC server and sets the password to 'P@ssw0rd!'
        sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
        -activate -configure -access -on \
        -clientopts -setvncpassword -vncpassword "P@ssw0rd!" \
        -restart -agent -privs -all
          
    - name: MacOS System running...
      uses: mxschmitt/action-tmate@v3
      if: always()
